<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on

My name is <b>NKUIGWA DJOMO GABIN</b> and I'm a Business Analyst

<i>I am interested in data science because it's my passion since many more years now and to also perfom my skill.<i>

### It must be executed and must display an output

In [20]:
total = 0
for num in (-22.0, 3.5, 8.1, -10, 0.5):
    if num > 0:
        total = total + total*num
    else:
        total = total + num

In [21]:
total

-1366.35

***
<ul>
    <li> Item 1 </li>
    <li> Item 2 </li>
    <li> Item 3 </li>
    <li> Item 4 </li>
    <li> Item 5 </li>
</ul>

***

<ol>
    <li> First </li>
    <li> Second </li>
    <li> Third </li>
    <li> Fourth </li>
    <li> Fifth </li>
</ol>

***

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

***

<a href="https://google.com">Google</a>